@media (min-width: 768px) {

    .button {
        outline: none;
        box-shadow: none;
        background-color: black;
        color: white;
    }

    .button:focus {
        outline: none;
        box-shadow: none;
        background-color: black;
        color: white;
    }


    .button:hover {
        outline: none;
        box-shadow: none;
        background-color: black;
        color: darkcyan;
        font-size: 18px;

    }


    .opacity {
        opacity: 0.5;
    }


    .card {
        background-color: darkcyan;
        width: 240px;
        height: 330px;
        display: flex;
        text-align: center;
        justify-content: center;

    }

    .col{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .card:hover {
        background-color: black;
        color: white;
        font-size: 18px;

    }

    .card-title {
        margin-top: 13px;
        color: white;
    }


}


@media (max-width: 768px) {

  

    .button {
        outline: none;
        box-shadow: none;
        background-color: black;
        color: white;
    }

    .btn-secondary{
        max-width: 100px;
    }

    
    .button:focus {
        outline: none;
        box-shadow: none;
        background-color: black;
        color: white;
    }


    .col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .button:hover {
        outline: none;
        box-shadow: none;
        background-color: black;
        color: darkcyan;
        font-size: 18px;
    
    }
    
    
    .opacity {
        opacity: 0.5;
    }
    
    
    .card{
        background-color: darkcyan;
        width: 240px;
        height: 330px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;        
        
    }
    
    
    
    
    
    
    .card:hover{
        background-color: black;
        color: white;
        font-size: 18px;
    
    }
    
    .card-title{
        margin-top: 13px;
        color: white;
    }
    
    
    
    
    
    }